@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');


html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  background-color: #EEF0F4;
  color: #432000;
  user-select: none;
  text-align: center;
}

h5 {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 30px auto;
  gap: 10px;
}

img {
  width: 150px;
  height: auto;
  margin: 0 auto;
}

input {
  color: #432000;
  background-color: #DCE1EB;
  font-family: 'Rubik', sans-serif;
  border: 0;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  font-size: 20px;
}

button {
  cursor: pointer;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-container button {
  color: #FDFDFD;
  background-color: #AC485A;
  font-family: 'Rubik', sans-serif;
  flex-grow: 1;
  border: 0;
  padding: 15px;
  font-size: 20px;
  border-radius: 8px;
}

.form-container button:hover {
  background-color: #432000;
}

#auth-button {
  font-family: 'Rubik', sans-serif;
  border: 0;
  border-radius: 8px;
  padding: 8px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  max-width: 320px;
  margin-top: 0;
}

.list-item {
  background-color: #FFFDF8;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  flex-grow: 1;
  font-size: 20px;
  border-radius: 8px;
}

.list-item:hover {
  background-color: #FFECC7;
  cursor: pointer;
}